name: Lint and Test axe Accessibility Linter

on:
  pull_request:
    types:
      - opened
      - reopened
      - edited
      - synchronize

jobs:
  yml-validator:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 16
      - name: Validate action.yml
        run: npx yaml-validator action.yml 
      # This validator doesn't accept globs.
      - name: Validate the example workflow
        run: npx yaml-validator .github/action-example.yml
  test:
    runs-on: ubuntu-latest
    needs: yml-validator
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/action-example.yml
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          api_key: ${{ secrets.AXE_LINTER_API_KEY }}
